<%- include("./header_footer/header.ejs")%>
<!-- Nav bar -->
<%- include("navbar.ejs") %> 
<!-- header -->
<%- include("header.ejs") %> 
<h1>hello courses</h1>

<!-- footer -->
<%- include("./header_footer/footer.ejs"); %> 