<header>
    <img src="IRIC.png" class="header" alt='image' class=""/>
    <label class="type"></label>
    <h1 class="created-by  animate__animated  animate__backInLeft">This platform is created by <b>Abdelmounaim hmamed </b>to help you access to the archive</h1>
</header>
