<nav class="nav-bar">
    <h1 class="title animate__animated animate__bounceInDown">IRIC</h1>
    <ul class="main-ul">
        <li class="items"><a href="/">Home</a></li>
        <li class="items"><a href="/Team">Team</a></li>
        <li class="items"><a href="/contact">Contact</a></li>
        <li class="items"><a href="https://ensak.usms.ac.ma/ensak/wp-content/uploads/2021/07/IRIC-Broch_VM.pdf" target="_blanck">IRIC</a></li>
    </ul>
</nav>
<hr/>