<nav class="nav-bar">
    <h1 class="title animate__animated animate__bounceInDown">IRIC</h1>
    <ul class="main-ul">
        <li class="items"><a href="/">Home</a></li>
        <li class="items"><a href="/courses">Courses</a></li>
        <li class="items"><a href="/Team">Team</a></li>
        <li class="items"><a href="/contact">Contact</a></li>
    </ul>
</nav>
<hr/>