<%- include("./header_footer/header.ejs")%>
<!-- Nav bar -->
<%- include("navbar.ejs") %> 
<!-- header -->
<%- include("header.ejs") %> 
<div class="team">
    <h1>Abdelmounaim hmamed</h1>
    <p>this is me <b>Abdelmounaim hmamed</b> software and data engineering student at the nationalschool of applied science
    at Khouribga ,  for more information about provided services then inbox-me...
    </p>
</div>
<!-- footer -->
<%- include("./header_footer/footer.ejs"); %> 