<%- include("./header_footer/header.ejs")%>
<!-- Nav bar -->
<%- include("navbar.ejs") %> 
<!-- header -->
<%- include("header.ejs") %> 
<div class="main-container">

<div class="part-team">
    <div class="back">
        <h1 class="name">Abdelmounaim hmamed</h1>
        <label class="message typing" id="message"></label>
    </div>
    <p class="para">This is me <b class="message" >Abdelmounaim hmamed </b> , software and data engineering student at the national school of applied sciences
        at Khouribga  , for more information about provided services then hire me ...</p>
    <a href="#" class="btn-1">Hire-me</a>
    <div class="social-media">
        <a href="tel:+212618757791" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="https://www.facebook.com/mounaime.iyi" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/mou_naimehm/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://github.com/Abdelmounaimhmamed" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
</div>
<div class="contact">
    <h1 class="header-2">Have You Any Questions ?</h1>
    <div class="social">
       
        <div class="social-1">
            <i class="fa-regular fa-envelope"></i>
            <p class="titre">Email</p>
            <label class="label">hmamedabdelmounaime@gmail.com</label>
        </div>
        <div class="social-1">
            <i class="fa-solid fa-location-dot"></i>
            <p class="titre">School</p>
            <label class="label">Ensa - Khouribga </label>
        </div>
        <div class="social-1">
            <i class="fa-brands fa-linkedin"></i>
            <p class="titre">Linkedin</p>
            <label class="label">Abdelmounaim hmamed</label>
        </div>
    </div>

</div>
</div>
<script   src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" referrerpolicy="no-referrer">
    
</script>
<script>
    var typed = new Typed(".type",{
        strings:["","MERN stack developer","Web Developer","","Engineering student"],
        typeSpeed:100,
        BackSpeed:60,
        loop:true
    })
    
</script>
<!-- footer -->
<%- include("./header_footer/footer.ejs"); %> 